/* tela markup*/
.block-container{
    margin-top: 5px;
    border-color: black;
    
}

.element-container{
    text-align: center;    
    border-color: black;

}

/* indicador markup na tela markup*/
code{
    font-size: larger;
}

.ponto-equilibrio{
    font-size: larger;
    background-color: aqua;
    width: 50%;    
    margin-left: 25%;
}

.resumo{
    font-weight: bolder;
    font-size: x-large;
}